@font-face {
    font-family: "Muller Regular";
    src: url("../fonts/MullerRegular.woff2") format("woff2");
}
@font-face {
    font-family: "Muller Medium";
    src: url("../fonts/MullerMedium.woff2") format("woff2");
}
@font-face {
    font-family: "Muller Bold";
    src: url("../fonts/MullerBold.woff2") format("woff2");
}
@font-face {
    font-family: "Muller Extra Bold";
    src: url("../fonts/MullerExtraBold.woff2") format("woff2");
}
