* {
    box-sizing: border-box;
}
body {   
    background-color: #fff;    
}
p {
    margin: 0;
    padding: 0;
}



/* блок с объявлением скидки */

.header {
    background-color:transparent;
    padding-top: 101px;
    padding-bottom: 54px;
} 
.header-exclamation {
    font-family: "Muller Bold";
    text-align: center;
    margin-bottom: 45px;
    font-size: 30px;
    font-weight: 400;
    color: #6c1c02;
}
.header-discount { 
    font-family: "Muller Regular";
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.header-discount-date {
    font-family: "Muller Bold";
    font-weight: 700;
}
.header-discount-value {
    font-family: "Muller Extra Bold";
    font-weight: 700;
}
/* окончание блока с объявлением скидки */



/* блок с карточками товаров */

.product {
    background-color:transparent;
}
.product-wrap {    
    width: 271px;
    height: 502px;    
    margin: 0 auto 50px;    
    background-color: #ffffff;
} 
.product-wrap:hover {
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
}
.product-image {    
    height: 410px;
    padding-top: 49px;
    padding-bottom: 0;    
    text-align: center;    
}
.product-text {
    font-family: "Muller Regular";
}
.product-name {    
    text-align: center;
    height: 48px;    
    font-size: 16px;
    font-weight: 400;
    color: #393939;
}
.product-name-details {
    font-size: 14px;
    font-weight: 400;
    color: #7f7f7f;
}
.product-price {    
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: "Muller Medium";
    color: #393939;
}
.product-price-value {
    font-size: 20px;
    font-weight: 700;
    font-family: "Muller Bold";
    color: #393939;
}
/* окончание блока с карточками товаров */



/* блок, содержащий кнопку доступа к полному каталогу */

.catalog-access {    
    background-color:transparent;
    text-align: center;    
}

.catalog-access-btn {
    margin-top: 0;
    padding: 29px 46px;
    margin-bottom: 98px;
    font-size: 18px;
    font-weight: 400;       
    color: #ffffff;
    background-color: #e70000;
    border: none;
    transition: 0.3s;          
}
button[type="button"] {    
    outline: none;
    cursor: pointer;
    text-align: center;   
}
button[type="button"]:hover {    
    background-color: #f10202;    
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);    
}
button[type="button"]:focus {    
    background-color: #ff0000;
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);    
    text-shadow: 1px 1px 4px #0000008a;
}
button[type="button"]:active {
    color: rgb(29, 27, 27);    
    background-color:transparent;         
}
/* окончание блока, содержащего кнопку доступа к полному каталогу */